input {
    max-width: 160px; 
    text-align: left;    
}
input[type="checkbox"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
  }
ol{
    display: inline-block; 
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 20px;
    padding-right: 20px;
    min-width: fit-content;
}
label{
    font-weight: bolder;
    font-size: 1.5em;
} 
iframe{
    padding-top: 50px;  
    /* width="650" height="450" */
}
/* change responsive video and img to fit content size */
@media screen and (max-width: 1100px){
    iframe{
        width: 100%;     
    }
}

@media screen and (max-width: 770px){ 
    iframe{
        width: 60% ; height: 400px   
    } 
}
@media screen and (max-width: 600px){ 
    iframe{
        width: 90% ; height: 300px   
    } 
}
 